* {
    padding: 0;
    margin: 0;
    background: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

*:hover {
    background: grey;
}

h1:hover {
    color: whitesmoke;
    transition: 1s;
}